<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Unauthorized Access:: Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <h3 class="navbar-brand">Python Flask App</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="showSignUp">SignUp</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="showSignIn">SignIn</a>
                  </li>
                </ul>
            </div>
        </nav>
 
        <div class="jumbotron">
            <h1>{{error}}</h1>
        </div>
 
 
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>